<html>
  <head>
    <title>Pardot Builder</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.12.0/underscore-min.js" integrity="sha512-BDXGXSvYeLxaldQeYJZVWXJmkisgMlECofWFXKpWwXnfcp/R708nrs/BtNLH5cb/5TE7aeYRTDBRXu6kRL4VeQ==" crossorigin="anonymous"></script>
    <script src="https://backbonejs.org/backbone-min.js"></script>
    <style>
      .builder {
        height:100%;
      }
      .inline-toolbar {
        width:200px; height:50px;
        background:#efefef;
        border:solid 1px #eee;
        border-radius:3px;
      }
      .dropzone {
        height:0;
        transition:height .2s;
        background:#efefef;
      }
      .drag-init .dropzone {
        height:20px;
      }
      .dropzone.drag-over {
        background:#090;
        height:40px;
      }
      .dropzone.disabled {
        background:#900;
        height:0;

      }
      .module {
        padding:20px 0;
      }
    </style>
  </head>
  <body>
    <style>
      .builder {
        height:100%;
      }
      .inline-toolbar {
        width:200px; height:50px;
        background:#efefef;
        border:solid 1px #eee;
        border-radius:3px;
      }
      .dropzone {
        height:0;
        transition:height .2s;
        background:#efefef;
      }
      .drag-init .dropzone {
        height:20px;
      }
      .dropzone.drag-over {
        background:#090;
        height:40px;
      }
      .dropzone.disabled {
        background:#900;
        height:0;

      }
      .module {
        padding:20px 0;
      }
    </style>
    <h1>Pardot Builder</h1>
    <article class="builder">
      <header class="builder--options">
        <select class="business-units">
          <option value="null">Select a Business Unit</option>

        </select>
        <button onclick="emailBuilder.clearCanvas()">Clear Canvas</button>
        <button class="update-state">Export Canvas</button>
      </header>
      <aside>
        <ul class="builder--modules">
          No Modules Loaded
        </ul>
      </aside>
      <main class="builder--canvas">
        <div class="dropzone"></div>
      </main>
      <aside class="builder--settings">

      </aside>
    </article>
    <div class="test-export"></div>
    <script>
      //building.htmlPane.setContent('<html><head></head><body>test</body></html>');
      /**
       * HTML Templates
       **/
      var Templates = {
        module: _.template(
          `<div class="module ui-element">
            <div class="drag-handle ui-element">Drag Me</div>
            <div class="remove-module ui-element">Remove Me</div>
            <div class="module-contents ui-element" contenteditable>
              <%= code %>
            </div>
          </div>
          <div class="dropzone"></div>`
        ),
        editorContextMenu: _.template(
          `<div class="editor-context-menu ui-element" style="position:absolute; top:<%= top %>; left:<%= left %>">
            Context Menu!
          </div>`
        ),
        inlineToolbar: _.template(
          `<div class="inline-toolbar ui-element" style="position:absolute; top:<%= top %>; left:<%= left %>">
            Toolbar here!
          </div>`
        ),
      }
      /**
       * Collections
       **/
      var Categories = Backbone.Collection.extend({
            url: 'http://email-builder.test/wp-json/wp/v2/business-unit'
          }),
          Modules = Backbone.Collection.extend({
            url: 'http://email-builder.test/wp-json/wp/v2/modules'
          });
        
      var moduleList = new Modules,
          categoryList = new Categories;
      
      /**
       * Models
       **/
      var Email = Backbone.Model.extend({
        email_html: String
      }, {
      });

      var email = new Email;
      var dragObj;
      /**
       * Views
       **/
      // var optionsBar = Backbone.View.extend({
      //   el: '.builder--options',

      // });
      var emailBuilder = Backbone.View.extend({
        el: '.builder',
        events: {
            'change .business-units' : 'populateModules',
            'click .add-module' : 'addModule',
            'click  .remove-module' : 'removeModule',
            'click .update-state' : 'exportCanvas',
            'contextmenu .module-contents' : 'editorContextMenu',
            'mouseup' : 'inlineToolbar',
            // 'mousedown .drag-handle' : 'dragInit',
            'mousedown .drag-handle' : 'dragMouseDown',
            'dragstart' : 'dragStart',
            'dragend' : 'dragEnd',
            'dragover' : 'dragOver',
            'dragenter .dropzone' : 'dragEnter',
            'dragleave .dropzone' : 'dragLeave',
            'drop' : 'dragDrop'
        }, 
        initialize: function() {
          moduleList.fetch();
          categoryList.fetch().done(function() {
            var catOpts = categoryList.models;
            for(i=0; i<catOpts.length; i++) {
              $('.business-units').append('<option value="'+catOpts[i].attributes.id+'">'+catOpts[i].attributes.name+'</option>');
            }
          });
        },
        populateModules: function()  {
          var catId = Number($(event.target).val()),
              newModules = _.filter(moduleList.models, function(model){
                return ( _.indexOf(model.get('business-unit'), catId) >= 0 );
              }); 
          $('.builder--modules').html('');
          if(newModules.length > 0) {
            for(i=0; i<newModules.length; i++) {
              $('.builder--modules').append('<li><a class="add-module" data-module-slug="'+newModules[i].attributes.slug+'">'+newModules[i].attributes.title.rendered+'</a></li>');
            }
          } else {
            $('.builder--modules').html('No Modules Found');
          }
          // this.delegateEvents({'click .add-module' : 'addModule'});
        },
        addModule: function() {
          var slug = $(event.target).attr('data-module-slug'),
              moduleItem = moduleList.findWhere({'slug': slug}),
              moduleCode = moduleItem.attributes.acf.module_code;
          $('.builder--canvas').append(Templates.module({code: moduleCode}));
        },
        getModule: function(slug) {
          var moduleItem = moduleList.findWhere({'slug': slug}),
              moduleCode = moduleItem.attributes.acf.module_code;
          
        },
        // dragModule: function(slug) {
        //   console.log('drag!');
        //   //Lets start this by listening for mousemove
        //   var dragHandle = $(event.target),
        //       dragModule = dragHandle.parents('.module'),
        //       startX = event.clientX,
        //       startY = event.clientY;
        //   dragModule.css({
        //     position: 'absolute',
        //     top: startY,
        //     left: startX
        //   }).removeClass('module').addClass('dragging');
        //   $('body').on('mousemove', function() {
        //     // console.log(event);
        //     dragModule.css({
        //       top: event.clientY,
        //       left: event.clientX
        //     });
        //   });
        //   var dropEvent;
        //   $('.module:not(.dragging)').on('mouseover', function() {
        //     dropEvent = event;
        //   });
        //   //End by removing mousemove listener
        //   $(document).one('mouseup', function() {
        //     console.log('test', dropEvent);
        //     $('body').unbind('mousemove');
        //     $('.module:not(.dragging)').unbind('mouseover');
        //     dragModule.css({
        //       position:'relative',
        //       top: 0,
        //       left:0
        //     }).addClass('module').removeClass('dragging');

        //     var posElem = $(event.target).parents('.module'),
        //         posElemHeight = posElem.outerHeight(),
        //         dropPos = (dropEvent.clientY - posElem.offset().top) / posElemHeight;
        //     emailBuilder.prototype.placeModule(dragModule, posElem, dropPos);
        //   });
        // },
        // moduleHoverListener : function() {
        //   console.log(test);
        //   return event;
        // },
        placeModule: function(dropElem, posElem, pos) {
          if(pos > .5) {
            dropElem.insertBefore(posElem);
            console.log(posElem, 'top');
          } else {
            dropElem.insertAfter(posElem);
            console.log(posElem, 'bot');
          }
        },
        removeModule: function() {
          console.log('remove!');
          var tar = $(event.target).parents('.module');
          tar.next('.dropzone').remove();
          tar.remove();
        },
        clearCanvas: function() {
          $('.builder--canvas').html('');
        },
        exportCanvas: function() {
          var modules =  $('.module'),
              exportLoc = $('.test-export');
          exportLoc.html('');
          modules.each(function() {
            var content = $(this).find('.module-contents').html();
            exportLoc.append(content);
          });
        },
        saveState: function() {

        },
        editorContextMenu: function() {
          console.log('context Me nu');
          event.preventDefault();
          console.log(event);
          var mouseTop = event.clientY,
              mouseLeft = event.clientX;
          $('.builder').append(Templates.editorContextMenu({
            top: mouseTop,
            left: mouseLeft
          }));


        },
        inlineToolbar: function() {
          //#TODO – Need to change this to be in a fixed position rather than following hte mousee for better UX
          var tar = $(event.target),
              t = (document.all) ? document.selection.createRange().text : document.getSelection().toString();

          if($('.inline-toolbar').length && !tar.hasClass('inline-toolbar') && !tar.parents('.inline-toolbar').length) {
            toolbar.removeToolbar();
          }
          if(t.length && tar.parents('.module-contents').length) {
            console.log('works');
            $('.builder').append(Templates.inlineToolbar({
            top:event.clientY - 75,
            left:event.clientX
          }));
            toolbar = new InlineToolbar;

          }else {
            // console.log('try again');
          }
        },
        /////////////////
        //  DRAG & DROP
        /////////////////
        dragInit: function() {
          // gets drag handle parent for moving .column-set or .row-set

          var tar = $(event.target);
          tar.parents('.module').attr('draggable', 'true');
          var drag_item = tar.parents('.module');
          $(drag_item).on('dragstart', emailBuilder.prototype.dragStart());     // Fired at start of drag event
          $(drag_item).on('dragend', emailBuilder.prototype.dragEnd());         // Fired at end of drag event
          $(drag_item).on('dragenter', emailBuilder.prototype.dragEnter());
          $(drag_item).on('dragleave', emailBuilder.prototype.dragLeave());
        },
        dragMouseDown: function() {
          //from the handle set the parent to draggable
          var tar = $(event.target);
          tar.parents('.module').attr('draggable', 'true');
          // $(document).on('drop', emailBuilder.prototype.dragDrop);
        },
        dragStart: function() {
          // this is the drag item itself
          var tar = $(event.target);

          //set drag init class
          $('body').addClass('drag-init');

          // disable dropping it right next to itself as that is pointless.
          tar.next('.dropzone').addClass('disabled');
          tar.prev('.dropzone').addClass('disabled');

          // // since we gabbed the parent obect to drag we are checking to see our drag type
          // $('.column-placeholder').addClass('disabled');  // cant place a row in a column
          // if ($tar.find('.row-position-controls .item-handle').hasClass('row-handle')) {
              
          //     page_builder.drag_type = 'row';

          // } else {
          //     page_builder.drag_type = 'column';
          // }

          // set our global for dragged object
          dragObj = tar;
        },

        dragEnd: function() {
          // remove draggable state when done
          var tar = $(event.target);
          tar.attr('draggable', 'false');
          // remove drag init class
          $('body').removeClass('drag-init');
          $('.dropzone.disabled').removeClass('disabled');  // kinda lol here
          $('.dropzone.drag-over').removeClass('drag-over');
        },

        dragDrop: function() {

          console.log('drop');
          event.preventDefault();  
          event.stopPropagation();

          var dropTarget = $(event.target);
          
          // check to see if it is a valid dropzone
          //checking to see if drop target had the placeholder class but does not have the disabled class
          if (dropTarget.hasClass('dropzone') && !dropTarget.hasClass('disabled')) {
            //move dropzone
            dragObj.next('.dropzone').insertAfter(dropTarget);
            //move dragObj
            dragObj.insertAfter(dropTarget);
          }

          
        },
        dragOver: function() {
          event.preventDefault();  
          event.stopPropagation();

        },
        dragEnter: function(){
          event.preventDefault();  
          event.stopPropagation();

          var tar = $(event.target);
          if(!tar.hasClass('disabled') && tar.hasClass('dropzone')) {
              tar.addClass('drag-over');
          }
        },
        dragLeave: function() {
          event.preventDefault();  
          event.stopPropagation();
          $('.drag-over').removeClass('drag-over');

        }  
        
      });









      var EditorContextMenu = Backbone.View.extend({

      });
      var InlineToolbar = Backbone.View.extend({
        el: '.inline-toolbar',
        events: {
          'click' : 'clickOff'
        },
        initialize: function() {
         
        },
        removeToolbar: function() {
          this.remove();
        },
        // clickOff: function() {
        //   var tar = event.target;
        //   if(!$(tar).hasClass('inline-toolbar') && !$(tar).parents('.inline-toolbar').length) {
        //     this.remove();
        //   }
        // },
      });

      new emailBuilder;


    </script>
  </body>
</html>