.single-post {
    .flex-container {
        display:flex;
        main {
            flex-basis:auto;
            width:auto;
            padding-right:70px;
            .container {
                width:100%;
            }
        }
    }
}