.page-template-insurance-type {
    .content-area {
        .flex-container {
            display:flex;
            main {
                flex-basis:auto;
                width:auto;
                padding-right:70px;
                .container {
                    width:100%;
                }
            }
        }
        // main {
        //     width:70%;
        //     float:left;
        //     .container {
        //         width:100%;
        //     }
        // }
        // aside {
        //     width:20%;
        //     float:left;
        // }
    }
}