.bg-image {
    position:absolute;
    top:0; left:0;
    height:100%; width:100%;
    background-size:cover;
    background-position:center center;
    &::after {
        content:'';
        display:block;
        position:absolute;
        top:0; left:0;
        height:100%; width:100%;
        background:rgba(0,0,0,.6);
    }
}