section.form-section {
    background:#efefef;
    margin:0;
    padding:40px;
    .gform_wrapper {
        margin-top:40px;
        max-width:900px;
        margin:40px auto 0 auto;
    }
    .gform_title {
        display:none;
    }
    .gform_body {
        > ul {
            columns:2;
            @media screen and (max-width:767px) {
                columns:1;
            }
        }
    }
    label.gfield_label {
        display:none; 
    }
    .gform_footer {
        text-align:center;
    }
    ul, ol {
        list-style:none;
    }
    input, textarea, select{
        width: 100%;
        border: 1px solid #CECECE;
        border-radius: 2px;
        background-color: #FBFBFB;
        color:#666;
        font-size: 14px;
        line-height: 14px;
        padding: 12px;
        margin-bottom: 20px;
        resize: none;
    }
    select{
        height: 40px;
        padding: 0 12px;
    }
    input[type="submit"]{
        height: 40px;
        width: 135px;
        background-color: #005A84;
        border:1px solid #005A84;
        border: none;
        border-radius: 0;
        color: #F0F5F7;
        font-size: 17px;
        text-align: center;
    }
    input[type="submit"]:hover {
        background-color: #fff;
        color: #005A84;
        border:1px solid #005A84;
    }
}