.landing-section {
    display:flex;
    height:100vh;
    width:100%;
    @media screen and (max-width:991px) {
        flex-wrap:wrap;
    }
    &--option {
        overflow:hidden;
        position:relative;
        background-repeat:no-repeat;
        background-position:center center;
        background-size:auto 100%;
        height:100%; flex-basis:50%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        @media screen and (max-width:991px) {
            flex-basis:100%;
            height:50%;
            background-size:cover;
        }
        &.opt-left{
            background-image:url(https://bankersinsurance.com/wp-content/themes/big/images/home-left-web.jpg) 
        }
        &.opt-right{
            background-image:url(https://bankersinsurance.com/wp-content/themes/big/images/home-right-web.jpg) 
        }
        .overlayDark {
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            position: absolute;
            background-color: rgba(0,0,0,.6);
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &:hover, &:focus {
            flex-basis:55%;
            background-size:auto 105%;
            text-decoration:none;
            @media screen and (max-width:991px) {
                flex-basis:100%;
                background-size:cover;
            }
            .mainBtnTxt {
                text-decoration:underline;
            }
            .overlayDark {
                background-color:rgba(0,0,0,.4);
            }
        }
    }
}