.secondary-nav-section {
    background-color: #E5E5E5;
    overflow: hidden;
    margin:0;
    ul {
        display:flex;
        list-style:none;
        li {
            line-height:40px;
            a {
                display: block;
                color: #444444;
                font-size: 15px;
                text-transform: uppercase;
                padding: 0 20px;
                
                &:hover, &:focus {
                    color: #005A84;
                    background-color: #FBFBFB;
                    box-shadow: 0 28px 15px 6px rgba(0,0,0,0.07);
                }
            }
            &.current-menu-item {
                a {
                    color: #005A84;
                    background-color: #FBFBFB;
                    box-shadow: 0 28px 15px 6px rgba(0,0,0,0.07);
                }
            }
        }
    }
}
