#sidebar{
    width:255px;
    flex-grow:0;
    flex-shrink:0;
    align-self:flex-start;
    color: #FBFBFB;
    @media (min-width: 991px) {
        max-width: 262.5px;
        z-index: 1;
        .related-posts {
            position: relative;
            z-index: 10;
        }
        &.fixed {
            .sidebar--inner {
                top:0;
                position:fixed;
                width:255px;
            }
        }
        &.endpoint {
            align-self:flex-end;
        }
    }    
    ul, ol {
        list-style:none;
        padding:0; margin:0;
        li {
            margin:0;
            &::before {
                display:none;
            }
        }
    }
    .sidebar--inner {
        position:relative;
        padding: 20px;
        margin:40px 0;
        background: url(../images/pattern_back.svg) no-repeat center center;
        background-size: cover;
    }
    
    .gform_title{
        font-size: 23px;
        font-weight: bold;
        line-height: 28px;
        border-bottom:5px solid #FBFBFB;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
    .gform_confirmation_message {
        font-size:16px;
        padding:10px;
    }
    input, select{
        color: #444;
        font-weight: 300;
        height: 40px;
        width: 100%;
        border-radius: 2px;
        background-color: #EEEEEE;
        border:none;
        margin-bottom: 10px;
        padding:5px;
    }
    textarea{
        color: #444;
        font-weight: 300;
        width: 100%;
        border-radius: 2px;
        background-color: #EEEEEE;
        border:none;
        margin-bottom: 10px;
        padding:5px;
        resize: none;
    }
    input[type="submit"] {
        height: 40px;
        background-color: $primary-color-light;
        border: none;
        border-radius: 0;
        color: #fff;
        font-size: 17px;
        font-weight: 300;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }
    input[type="submit"]:hover, input[type="submit"]:focus {
        background-color: $secondary-color;
        box-shadow:0 10px 20px -5px rgba(0,0,0,.6);
    }
}

// #body .menu-faq-nav-container ul{
//     margin-left: 0;
// }
// #body .menu-faq-nav-container li{
//     list-style: none;
//     line-height: 18px;
//     margin-bottom: 15px;
// }
// .menu-faq-nav-container a:hover, .menu-faq-nav-container li.current-menu-item a{
//     font-weight: bold;
// }
// a#externalQuoteBtn{
//     height: 40px;
//     line-height: 40px;
//     background-color: #68CD3A;
//     border:1px solid #68CD3A;
//     border: none;
//     border-radius: 0;
//     color: #fff;
//     font-size: 17px;
//     font-weight: 300;
//     text-align: center;
//     text-decoration: none;
//     width: 100%;
//     display: table;
// }
// a#externalQuoteBtn:hover {
//     background-color: #fff;
//     color: #68CD3A;
//     border:1px solid #68CD3A;
// }