.site-footer {
    ul, ol {
        list-style: none;
    }
    #ftr{
        color: #FBFBFB;
        padding: 50px 0;
        background: url(https://bankersinsurance.com/wp-content/themes/big/images/ftr.jpg) no-repeat left top #0C2C3B;
        background-size: contain;
        width: 100%;
        position: relative;
        z-index: 90;
        .container{
            display:flex;
            @media screen and (max-width:991px) {
                flex-wrap:wrap;
            }
        }
        img{
            width: 100%;
            max-width: 170px;
        }
        nav img {
            width: 25px;
            margin-right: 5px;
            margin-bottom: 4px;
        }
        .btn {
            display: inline-block;
            padding: 8px 19px;
            background-color: #071E29;
            text-align: center;
            color: #fff;
            color: #FBFBFB; 
            font-size: 15px;
            line-height: 15px;
            margin-top: 23px;
        }
        .btn:hover {
            background-color: $primary-color-light;
            text-decoration: none;
        }
        .fifth {
            @media screen and (max-width:991px) {
                width:33.33%;
            }
            @media screen and (max-width:600px) {
                width:50%;
                margin-bottom:20px;
            }
            &:first-of-type {
                @media screen and (max-width:991px) {
                    width:100%;
                    margin-bottom:20px;
                    text-align:center;
                    img {
                        padding:20px;
                    }
                }
                @media screen and (max-width:600px) {
                    width:50%;
                    text-align:left;
                    img {
                        padding:0 40px 20px 0;
                    }
                }
            }

            &:nth-of-type(3), &:last-of-type {
                @media screen and (max-width:600px) {
                    width:50%;
                }
            }
        }
    }
    .ftrHdr{
        font-size: 18px;    
        font-weight: bold;  
        line-height: 23px;
        margin-bottom: 10px;
    }
    
    a {
         color:#fff;
         &:hover, &:focus {
             text-decoration:underline;
         }
    } 

    #legal, #legal a {
        color:#bbb;
    }
    #legal{
        background-color: #071E29;
        font-size: 11px;    
        line-height: 17px;
        padding: 20px 0;
    }
    #legal a{
        text-decoration: underline;
        padding: 0 10px;
        &:hover, &:focus {
            color:#fff;
        }
    }
}