.site-header {
    height:75px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    &::before, &::after {
        display:none;
    }

    .site-branding {
        flex-grow:0;
        flex-shrink:0;
        position:relative;
        height:100%;
        width:200px;
        background-color: $primary-color-light;
        img {
            margin: 22px 35px;
            width: 132px;
        }
    }
    #site-navigation {
        flex-basis:100%;
        margin-left:30px;
        position:relative;
        @media screen and (max-width:991px) {
            display:none;
        }
        #primary-menu {
            li {
                a {
                    color: #FBFBFB;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 75px;
                }
            }
        }
    }
    #loginNav{
        white-space: nowrap;
        flex-grow:0; flex-shrink:0;
        color:#FFF;
        background-color: #005A84;
        font-size: 14px;
        line-height: 17px;
        margin-right: 85px;
        font-weight: 300;
        text-decoration: underline;
        padding: 10px 30px;
        position: relative;
        ul {
            display: none;
            position: absolute;
            color: #555555;
            text-decoration: underline;
            left: 0;
            width: 163px;
            padding-top: 19px;
            li{
                list-style: none;
                padding: 10px 30px;
                background-color: #eee;
                &:first-of-type{
                    padding-top:20px;
                }
                &:last-of-type{
                    padding-bottom:20px;
                }
                a {
                    font-size:14px;
                }
            }
        }
        span {
            color:darken($primary-color, 5);
            font-size:18px;
            margin-left:2px;
        }
        a:visited {
            color:#555;
        }
        &:hover, &:focus, &:focus-within {
            ul {
                display: block;
            }
        }
    }
    .navicon {
        display:none;
        margin-right: 85px;
        font-size:32px;
        color:#fff;
        @media screen and (max-width:991px) {
            display:block;
        }
        @media screen and (max-width:767px) {
            margin-right:20px;
        }
    }
    .mobileNav {
        display:none;
        position:fixed;
        left:100%; top:0;
        width:320px; height:100%;
        transition:left .3s ease-in-out;
        z-index:101;
        @media screen and (max-width:360px) {
            width:260px;
        }
        &--inner {
            background:#fff;
            box-sizing:border-box;
            height:100%;
            padding:40px 20px;
            position:relative;
        }
        &--close {
            position:absolute;
            right:100%;
            top:30px;
            display:none;
            margin-right:20px;
            font-size:24px;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            background:none;
            border:none;
            padding:0;
            color:#fff;
        }
        &--branding{ 
            img {
                padding:0 40px;
            }
        }
        &--portal {
            margin-top:30px;
            li {
                width: calc(100% - 40px);
                text-align: center;
                margin: 5px 20px;
                a {
                width:100%;
                display:block;
                padding:5px 0;
                background:#e8e8e8;
                color:#000;
                font-weight:300;
                }
                
            }
        }
        &--menu {
            margin-top:30px;
            li {
                margin:10px 20px;
                a {
                    color:#000;
                    font-weight:700;
                    font-size:18px;
                }
            }
        }
        
        ul, ol {
            list-style:none;
        }
        @media screen and (max-width:991px) {
            display:block;
        }
        &--show {
            left:calc(100% - 320px);
            box-shadow:0 0 30px -5px #000;
            @media screen and (max-width:360px) {
                left:calc(100% - 260px);
            }
            &::before {
                content:'';
                display:block;
                position:fixed;
                z-index:-1;
                top:0; left:0;
                height:100%; width:100%;
                background:rgba(0,0,0,.4);
            }
            .mobileNav--close {
                display:block;
            }
        }
    }
  
}